.main-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 10rem
  ;
}

.payInfo-container,
.cart-container {
  // border: 1px solid red;
  width: 50%;
}

.payInfo-container {
  flex: 6;
}

.cart-container {
  flex: 5;
}